body { 
  background-image: linear-gradient(#e2bfb4, #daa1a1);
  height: 100%;
}
#heade {
  background: linear-gradient(#ffa5b0, #DB8365);
  padding: 15px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
h1, h2, p, a    {
  font-family: verdana;
}
a  {
  color: #f0c0c9;
}
p  {
  color: #f0bfd3;
}
h1 {
  color: #753754;
}
h2    {
    color: #422B23;
 }
table {
  background: linear-gradient(#f172a1, #CF5380);
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  width:70%;
}
#grad1 {
   background: linear-gradient(#b85789, #b84480);
   padding-bottom: 10px;
}
#footnote {
  background: linear-gradient(#b85789, #b84480);
  padding-top: 35px;
}
.topnav {
  overflow: hidden;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width:70%;
  background: linear-gradient(#d19a88, #d6808a);
}
.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #d6808a;
  margin-left: .4vw;
  margin-right: .4vw;
}
.topnav a:hover {
  background: linear-gradient(#e2bfb4, #daa1a1);
  color: #422B23;
}
