body { 
    background-image: linear-gradient(#A1C3D1, #747ADC);
    height: 1000px;
}
header {
  background-color: #E64398;
  padding: 5px;
  text-align: center;
  font-size: 25px;
}
h1, h2, p    {
  color: white;
  font-family: verdana;
  }
table {
  margin-left: auto;
  margin-right: auto;
  width:80%;
}
